*

!.bashrc
!.tmux.conf
!notes.md

!.config/

.config/*
!.config/nvim
!.config/nvim/*
.config/nvim/plugged

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

!.gitignore

