*

!append_to_bashrc.sh
!append_to_zshrc.sh
!config_*
!.tmux.conf

!.config/

.config/*
!.config/nvim
!.config/nvim/*
.config/nvim/plugged

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

!.gitignore
